#splashScreen {
  /*Change directory path later  */
  position: absolute;
  top: 0vh;
  right: 0vw;
  width:100vw;
  height:100vh;
  width:100vw;
  height:100vh;
  top:0px;
  left:0px;
  z-index: 999;
  background: url('chrome-extension://bpojnafojmmhajekaifkhhhmeifcnfbg/public/css/JSOSplash.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#lessonList {
  position: absolute;
  top: 0vh;
  right: 0vw;
  width:100vw;
  height:100vh;
  width:100vw;
  height:100vh;
  top:0px;
  left:0px;
  z-index: 999;
  background: url('chrome-extension://bpojnafojmmhajekaifkhhhmeifcnfbg/public/css/JSOBG.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#splashBtn {
  position: absolute;
  top: 62vh;
  left: 48%;
  font-size: 3.0em;
  font-family: 'Quicksand', sans-serif;
}

#lessonDesc {
  width: 50vw;
  Right: 0px;
}

/* Menu Grid  */
.panel {
    display: inline-block;
    width: 24.9vw;
    height: 24.9vh;
    background-color: red;
}

#twoRows{
    width:50vw;
}
