#splashScreen {
  /*Change directory path later  */
  position: absolute;
  top: 0vh;
  right: 0vw;
  width:100vw;
  height:100vh;
  left:0px;
  z-index: 999;
  background: url('chrome-extension://bpojnafojmmhajekaifkhhhmeifcnfbg/public/css/JSOSplash.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
}

#lessonList {
  display: inline-block;
  position: absolute;
  top: 0vh;
  right: 0vw;
  width:100vw;
  height:100vh;
  left:0px;
  z-index: 999;
  background: url('chrome-extension://bpojnafojmmhajekaifkhhhmeifcnfbg/public/css/JSOBG.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 6vw;
  color: white;
  text-align: center;
}

#splashBtn {
  position: absolute;
  top: 62vh;
  left: 48%;
  font-size: 3.0em;
  font-family: 'Quicksand', sans-serif;
}
#deleteThis {
  position: absolute;
  top: 62vh;
  left: 55%;
  font-size: 3.0em;
  font-family: 'Quicksand', sans-serif;
}
#lessonDesc {
  width: 49vw;
  margin-left:auto; 
  margin-right:0;
}

/* Menu Grid  */
.panel {
    display: inline-block;
    width: 24.9vw;
    height: 24.9vh;
    line-height: 24.9vh;
    opacity: .8;
    cursor: pointer;
}

.panel:hover {
  opacity: 1;
}

#twoRows{
    width:50vw;
}

#panel1 {
  
  background-color: #e984a2;
}

#panel2 {
  background-color: #c8728b;
}

#panel3 {
  background-color: #a3586e;
}

#panel4 {
  background-color: #7e4758;
}

#panel5 {
  background-color: #7ec8b2;
}

#panel6 {
  background-color: #96d5c3;
}

#panel7 {
  background-color: #b1e8d8;
}

#panel8 {
  background-color: #ccf4e8;
}

.panel1Class {
  margin-left:auto; 
  margin-right:0;
  background-color: red;
  right: 0%;
  width: 48vh;
  height: 100vh;
  font-size: 3.0em;
  font-family: 'Quicksand', sans-serif;
  background: url('chrome-extension://bpojnafojmmhajekaifkhhhmeifcnfbg/public/img/Lesson1.png') no-repeat center center fixed;
}