#jsOrchestra {
  position: absolute;
  top: 0vh;
  right: 0vw;
  
}

#splashScreen {
  /*Change directory path later  */
  background: url('chrome-extension://bpojnafojmmhajekaifkhhhmeifcnfbg/public/css/JSOSplash.png');
  
}